<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.UserMapper">
    <select id="findUserByOpenId" resultType="userInfo">
        select * from user_info where open_id = #{openId};
    </select>
</mapper>